/* Main styling structure */
#CLHeader {
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Media query for small/mobile screen sizes */
@media (max-width: 425px) {
    #CLHeader {
        font-size: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

}

/* Media query for medium sized screen widths */
@media (min-width: 426px) and (max-width: 768px) {


}

/* Media query for large/desktop screen widths */
@media (min-width: 769px) {


}