@import url('https://fonts.googleapis.com/css2?family=Roboto:ital.whgt@0,500;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    background-color: #D4D6CF;
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 25px;
}


header {
    background-color: #D4D6CF;
    color: #000000;
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    
}

nav {
    display: flex;
    align-items: center;
}

.menu-toggle {
    display: none; 
    flex-direction: column;
    cursor: pointer;
}

.menu-toggle span {
    height: 5px;
    width: 30px;
    background-color: #D4D6CF;
    margin: 6px 0;
    display: block;
}

.menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.menu li {
    margin: 0 15px;
}

.menu a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}



/*
@media (max-width: 320px) {
    .banner {
        display: none;
    }

    .menu {
        display: none; 
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 70px;
        left: 0;
        background-color: #fff;
        text-align: center;
    }

    .menu.show {
        display: flex; 
    }

    .menu-toggle {
        display: flex; 
    }

    .menu li {
        margin: 15px;
    }
}

@media (min-width: 321px) and (max-width: 768px) {


}

@media (max-width: 1024px) {


}

*/
.logo {
    float: left;
    padding: 0;
    margin: 0;
}

.logo img {
    align-items: left;
    width: 200px;
    height: auto;
    top: 10%;
    left: 50px;
}

.banner p {
    font-size: 16px;
    text-align: center;
}

